<div class="about container fade-in">
  <h2 class="text-center my-4">&lt;About Me /&gt;</h2>
  <div class="card mb-4">
    <div class="card-body mx-4 d-flex flex-column align-items-center">
      <p>
        <strong>Hi!!! My name is Pratyaksh Pandey.</strong> I am a passionate
        software engineer
        <strong
          >currently working at World Fashion Exchange, a global leader in the
          apparel industry.</strong
        >
        I have hands-on experience in full-stack development. During my
        internships at CreoWis Technologies, I worked on building efficient ETL
        pipelines, real-time data sync features, and caching systems that
        greatly improved performance.
      </p>
      <p>
        I am proficient in using technologies like
        <strong>C++, Angular, SQL, and ASP.NET Core Web API.</strong> My problem-solving abilities are
        reflected in achieving a Codeforces Expert rating and solving over 2000
        coding problems. I’ve led projects like FreshZippy, a grocery delivery
        platform with transparent sourcing.
      </p>
    </div>
  </div>

  <h2 class="text-center my-4">&lt;Education /&gt;</h2>
  <div class="card mb-4">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>B.Tech - Computer Science and Engineering</strong> - College
          of Engineering Roorkee (COER) - 2020 to 2024 - Percentage:
          <span class="text-success">75.3%</span>
        </li>
        <li class="list-group-item">
          <strong>Senior Secondary Class</strong> - Campus School Pantnagar -
          2019 to 2020 - Percentage: <span class="text-success">79.8%</span>
        </li>
        <li class="list-group-item">
          <strong>Matriculation</strong> - Campus School Pantnagar - 2017 to
          2018 - Percentage: <span class="text-success">88.6%</span>
        </li>
      </ul>
    </div>
  </div>

  <h2 class="text-center my-4">&lt;Skills /&gt;</h2>
  <div class="card mb-4">
    <div class="card-body">
      <ul class="list-inline">
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          C++
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          HTML/CSS
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          Git/GitHub
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          JavaScript
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          SQL
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          Angular
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          ASP.NET
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          Data Structures & Algorithms
        </li>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          React.js
        </li>
      </ul>
    </div>
  </div>
</div>
