<div class="projects container fade-in">
  <h2 class="text-center my-4">&lt;Projects /&gt;</h2>

  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Ultimate Shot</h5>
      <small
        >Tech Stack: MEAN (MongoDB, Express.js, Angular, Node.js)
        <a
          href="https://the-ultimate-shot.vercel.app"
          target="_blank"
          class="text-info"
          >Live</a
        ></small
      >
    </div>
    <div class="card-body">
      <ul>
        <li>
          Developed and Deployed Full-Stack MVP with complete user flows —
          including registration, OTP-based login, slot booking, and booking
          history — ensuring performance and intuitive UX.
        </li>
        <li>
          Engineered an interactive slot system based on date and overs, with
          automatic time intervals and cost calculations tailored to user
          inputs.
        </li>
        <li>
          Designed frontend and backend auth flow using Angular Reactive Forms
          and Node.js with MongoDB, managing session state via LocalStorage and
          enabling guard-based route protection.
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Bollytrix</h5>
      <small
        >Tech Stack: Angular, TypeScript, Bootstrap
        <a
          href="https://dynamic-form-zeta.vercel.app/"
          target="_blank"
          class="text-info"
          >Live</a
        ></small
      >
    </div>
    <div class="card-body">
      <ul>
        <li>
          Developed a logic-based word game with real-time feedback, 9-attempt mechanics, and visual cues for enhanced engagement and cognitive challenge.
        </li>
        <li>
          Implemented a dynamic hint system, auto-filled vowels, and intelligent word separation to improve playability and retention.
        </li>
        <li>
          Delivered a clean, animated interface using Angular and Bootstrap, ensuring seamless gameplay across all screen sizes.
        </li>
      </ul>
    </div>
  </div>
</div>
