<div class="projects container fade-in">
  <h2 class="text-center my-4">&lt;Projects /&gt;</h2>

  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">FreshZippy</h5>
      <small
        >Tech Stack: MERN (MongoDB, Express.js, React.js, Node.js)
        <a
          href="https://github.com/Pandepic-pp/FreshZippy"
          target="_blank"
          class="text-info"
          >View Project</a
        ></small
      >
    </div>
    <div class="card-body">
      <ul>
        <li>
          Developed a grocery delivery platform with real-time inventory
          management.
        </li>
        <li>
          Built live dashboards for order tracking and enhanced transparency by
          disclosing the source of each grocery item.
        </li>
        <li>
          Differentiated FreshZippy from competitors like Blinkit by building
          trust through transparent sourcing.
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Dynamic Form Generator</h5>
      <small>Tech Stack: React.js, Bootstrap <a
        href="https://dynamic-form-zeta.vercel.app/"
        target="_blank"
        class="text-info"
        >View Project</a
      ></small>
    </div>
    <div class="card-body">
      <ul>
        <li>
          Designed and developed a dynamic form generator with a JSON-formatted
          UI schema.
        </li>
        <li>
          Created a responsive interface dividing the UI into a schema editor
          and live form preview.
        </li>
        <li>
          Implemented responsive design for better usability on different
          devices.
        </li>
      </ul>
    </div>
  </div>
</div>
