<div class="work-exp container fade-in">
  <h2 class="text-center my-4">&lt;Work Experience /&gt;</h2>

  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Software Development Engineer 1</h5>
      <small>Wprld Fashion Exchange | 08/2024 - Present</small>
    </div>
    <div class="card-body">
      <ol>
        <li>
          Engineered an intelligent AI Agent leveraging
          <strong
            >AWS Bedrock, Claude, Transcribe, Glue, Google Cloud Agent AI, and
            Google Speech-to-Text</strong
          >
          to deliver features such as natural language to SQL translation,
          real-time speech transcription, and a conversational chat interface
          using <strong>Angular</strong>
        </li>
        <li>
          Automated PDF content extraction using
          <strong>AWS Textract</strong> by developing a script that extracts
          text, tables, and forms, enabling users to import all structured
          content with a single click—eliminating the need for manual
          copy-paste.
        </li>
        <li>
          Created and documented APIs using
          <strong>Node.js, MongoDB, and Swagger</strong> to ease customer
          integration and improve developer experience.
        </li>
      </ol>
    </div>
  </div>
  <!-- Full Stack Development Intern -->
  <div class="card mb-4">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Full Stack Development Intern</h5>
      <small>CreoWis Technologies | 03/2024 - 06/2024</small>
    </div>
    <div class="card-body">
      <ol>
        <li>
          Built an ETL pipeline to manage large volumes of customer and
          transaction data.
        </li>
        <li>
          Developed a <strong>caching</strong> mechanism for high-frequency API
          endpoints in NestJS, improving response times by 40%.
        </li>
        <li>
          Designed a real-time <strong>sync</strong> module with
          <strong>WebSockets</strong> and <strong>Redis Pub/Sub</strong>,
          achieving sub-second latency updates across
          <strong>distributed systems.</strong>
        </li>
      </ol>
    </div>
  </div>

  <!-- Generative AI Data Engineer -->
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Generative AI Data Engineer</h5>
      <small>Remotasks | 06/2023 - 08/2023</small>
    </div>
    <div class="card-body">
      <ol>
        <li>
          Trained a large generative <strong>AI/ML</strong> model with 93%
          accuracy by providing solutions to computer problems and maintainable
          code.
        </li>
        <li>
          Developed and validated source code, coordinated releases, and
          authored precise documentation; expedited release cycles by 25%.
        </li>
        <li>
          Architected a secure, high-performance <strong>dataset</strong> for AI
          training, improving model accuracy by 22% and reducing
          <strong>data processing</strong> latency by 30%.
        </li>
      </ol>
    </div>
  </div>
</div>
